@font-face {
    font-family: 'Bebas_Neue_Cyrillic';
    src: url('../fonts/Bebas_Neue_Cyrillic.eot');
    src: url('../fonts/Bebas_Neue_Cyrillic.eot') format('embedded-opentype'),
         url('../fonts/Bebas_Neue_Cyrillic.woff2') format('woff2'),
         url('../fonts/Bebas_Neue_Cyrillic.woff') format('woff'),
         url('../fonts/Bebas_Neue_Cyrillic.ttf') format('truetype'),
         url('../fonts/Bebas_Neue_Cyrillic.svg#Bebas_Neue_Cyrillic') format('svg');
}
