.footer_menu {
  background-color: #1c1c1c;
  color: #fff;
  .nav {
    li {
      float: right;
      a {
        font-family: Bebas_Neue_Cyrillic;
        font-size: 22px;
        color: #fff;
        &:hover, &:focus {
          background-color: transparent;
        }
      }
    }
  }
}
