.sprite {
  background-image: url(../images/sprite/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-card {
  width: 80px;
  height: 61px;
  background-position: -5px -5px;
}

.sprite-chart-footer {
  width: 38px;
  height: 38px;
  background-position: -95px -5px;
}

.sprite-document {
  width: 21px;
  height: 22px;
  background-position: -143px -5px;
}

.sprite-facebook {
  width: 48px;
  height: 47px;
  background-position: -174px -5px;
}

.sprite-facebook-footer {
  width: 38px;
  height: 38px;
  background-position: -232px -5px;
}

.sprite-gold-star {
  width: 30px;
  height: 28px;
  background-position: -280px -5px;
}

.sprite-google-footer {
  width: 38px;
  height: 38px;
  background-position: -320px -5px;
}

.sprite-google-plus {
  width: 48px;
  height: 47px;
  background-position: -368px -5px;
}

.sprite-gray-star {
  width: 28px;
  height: 26px;
  background-position: -95px -62px;
}

.sprite-hammer {
  width: 86px;
  height: 73px;
  background-position: -232px -53px;
}

.sprite-left-arr {
  width: 18px;
  height: 26px;
  background-position: -426px -5px;
}

.sprite-left-arr-slider {
  width: 52px;
  height: 52px;
  background-position: -133px -62px;
}

.sprite-linked-footer {
  width: 38px;
  height: 38px;
  background-position: -328px -62px;
}

.sprite-logo {
  width: 400px;
  height: 161px;
  background-position: -5px -136px;
}

.sprite-logo-footer {
  width: 327px;
  height: 111px;
  background-position: -5px -307px;
}

.sprite-page-up {
  width: 50px;
  height: 49px;
  background-position: -376px -62px;
}

.sprite-plus {
  width: 48px;
  height: 47px;
  background-position: -342px -307px;
}

.sprite-right-arr {
  width: 18px;
  height: 26px;
  background-position: -415px -121px;
}

.sprite-right-arr-slider {
  width: 52px;
  height: 52px;
  background-position: -342px -364px;
}

.sprite-rss-footer {
  width: 38px;
  height: 38px;
  background-position: -400px -307px;
}

.sprite-social {
  width: 48px;
  height: 254px;
  background-position: -454px -5px;
}

.sprite-social-footer {
  width: 208px;
  height: 38px;
  background-position: -5px -428px;
}

.sprite-star {
  width: 61px;
  height: 73px;
  background-position: -448px -269px;
}

.sprite-tel {
  width: 48px;
  height: 48px;
  background-position: -448px -352px;
}

.sprite-twitter {
  width: 48px;
  height: 47px;
  background-position: -404px -410px;
}

.sprite-twitter-footer {
  width: 38px;
  height: 38px;
  background-position: -462px -410px;
}

.sprite-twt {
  width: 48px;
  height: 47px;
  background-position: -223px -467px;
}
